
.calender-header{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
}

.month-year{
    display: flex;
}

.month-year p,.icons{
    margin: 0;
    padding: 2px;
    color: rgba(0, 0, 77,0.7);
    font-weight: 700;
    cursor: pointer;
}

.dropdown-icon{
    font-size: 28px;
    color: rgba(0, 0, 77,0.6);
}

