.calender-body{

    display:grid;
    grid-template-columns: repeat(7,1fr);
}

.month-container{

    display:grid;
    grid-template-columns: repeat(4,1fr);
}
.month-list{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    height: 40px;
    padding: 1px 10px 5px 10px;
    cursor: pointer;
    color: rgba(0, 0, 77,0.8);
}

.cell{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 700;
    height: 40px;
    padding: 1px 10px 5px 10px;
    cursor: pointer;
    color: rgba(0, 0, 77,0.8);
    text-align: center;
}

.disabled{
    font-weight: 700;
    color: rgb(219, 217, 217);
    padding: 10px;
}


.current-date,.current-month{
    color: #fff;
    background-color: #d9d9d9;
    border-radius: 3px;
}

.selected-month,.selected{
    color: #fff;
    background-color: rgb(51, 51, 255);
    border-radius: 3px;
}

.indicator-container{
    display: flex;
    justify-content: space-around;
}

.due-indicator{
    
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #f5dc7a;;
}
.content-indicator{
    
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ff8484;
}
.release-indicator{
    
    width:7px;
    height:7px;
    border-radius: 50%;
    background-color: #91f891;
}